.shopContainer{
    margin: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;

}


.shop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width:844px){

    .shop{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
}
.selectItem{
    margin: 0px 5px;
    border-radius: 20px;
    background-color: lightsalmon;
    color: #fff;
}

.selectItem img{
 border-radius: 50%;
 width: 50px;
 height: 50px;
 margin-right: 5px;

}

.selectItem-h2{
display: flex;
align-items: center;
justify-content: flex-start

}

.addedItem { 
    text-align: left;
    padding-left: 10px;
    
}

.select-btn{
    border-radius: 10px;
    margin: 5px;
    width: 80%;
    border: none;
    padding: 10px;
    background: greenyellow;
    color: lightcoral ;
    font-size: 15px;
    font-weight: bold;
}